
.outer-wrapper {
  text-align: center;
}

.table-wrapper {
  width: 380px;
  margin: 15px auto;
}

.main-table {
  background: #FFD;
}

.header {
  background: #DDD;
  font-size: 1.15em;
}

.header th {
  text-align: center;
}

input {
  text-align: right; 
  width: 70px; 
}

.day-total, .week-total {
  text-align: right;
  width: 65px;
}

td.total-label {
  text-align: right;
  padding-right: 15px;
}

td.clear-button {
  text-align: center; 
}

div.instructions {
  text-align:left;
  margin: 0 auto;
  width: 320px;
  position: relative;
  top: 20px;
}

div.instructions {
  font-size: 0.85em;
}


/* for debugging layouts 
body, h3, div, table, td, .header th, .outer-wrapper, 
.table-wrapper, div.instructions {
  border: 1px solid;
}
*/

