
/* Table elements */
table {
  margin-left: auto;
  margin-right: auto;
  width: 380px;
}

#main_table {
  /* yellow background */
  background: #FFD;
  margin-top: 5px;
}

/* header */
.header {
  /* blue header background */
  background: #DDD;
}

.header th {
  /* center header labels */
  text-align: center;
}

td {
  border: 0px solid; 
  /*margin-bottom: 10px; */
}

input {
  /*margin: 0 5px 0 5px;*/
  text-align: right; 
  width: 75px; 
}

div.day.total, div.week.total {
  text-align: right;
  width: 65px;
}

td.total-label {
  padding-right: 15px;
  text-align: right;
}

/* Clear button */
td.clear_button {
  text-align: center; 
}

table.instructions {
  position: relative;
  top: 10px;
  left: 5px;
}

.instructions p {
  margin-bottom: 3px;
}

