
body {
}

table {
  /* center the table */
  margin-left: auto;
  margin-right: auto;
}

td {
  /*border: 1px solid;  */
}

.header {
  background: #DDF;
}

input {
  margin: 0 5px 0 5px;
  text-align: right;
  width: 75px;
}

div.day.total, div.week.total {
  text-align: right;
}

td.clear_button {
  text-align: center;
}

td.clear_button input {
  text-align: center;
  width: 50px;
}

.error {
  color: #F00;
}

.instructions {
  font-size: 11px;
}

