
body {
}

table {
  /* center the table */
  margin-left: auto;
  margin-right: auto;
}

td {
  /*border: 1px solid;  */
}

input {
  margin: 0 5px 0 5px;
  text-align: right;
  width: 75px;
}

div.day.total, div.week.total {
  text-align: right;
}

.error {
  color: #F00;
}

